<template>
  <div id="activities">
    <h1>Activity</h1>
    <table class="table table-striped table-hover table-dark w-100" v-if="activities">
      <thead>
        <tr>
          <th scope="col"><input class="w-100 bg-dark text-light" placeholder="Numero" type="number"></th>
          <th scope="col"><input class="w-100 bg-dark text-light" placeholder="text" type="number"></th>
        </tr>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="activity in activities.data" :key="activity.key" @click="$router.push('/exercises/' + $route.params.exercise + '/activities/' + activity.id + '/reports')">
          <td>{{activity.id}}</td>
          <td>{{activity.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    name: "activities",
    components: {},
    data() {
      return {
        activities: null
      }
    },
    methods: {},
    async mounted() {
      this.activities = await this.$amAPI.getAll('Activity/exercise/' + this.$route.params.exercise)
    },
    watch: {}
  };
</script>

<style>
  #activities {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3vw;
  }
</style>