<template>
  <div id="exercise">
    <h1>Exercice</h1>
    <table class="table table-striped table-hover table-dark w-100" v-if="exercises">
      <thead>
        <tr>
          <th scope="col"><input class="w-100 bg-dark text-light" placeholder="Numero" type="number"></th>
          <th scope="col"><input class="w-100 bg-dark text-light" placeholder="text" type="number"></th>
        </tr>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="exercise in exercises.data" :key="exercise.key" @click="$router.push('/exercises/' + exercise.id + '/activities')">
          <td>{{exercise.id}}</td>
          <td>{{exercise.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    name: "exercises",
    components: {},
    data() {
      return {
        exercises: null
      }
    },
    methods: {},
    async mounted() {
      this.exercises = await this.$amAPI.getAll('Exercise')
    },
    watch: {}
  };
</script>

<style>
  #exercise {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3vw;
  }
</style>