<template>
    <div id="login">
        <div class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="Login" name="" v-model="$parent.username">
            </div>

            <div class="textbox">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Password" name="" v-model="$parent.password">
            </div>
            <button class="btn" @click="$parent.login()">Connexion</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        components: {},
        data() {
            return {}
        },
        methods: {},
        mounted() {

        }
    };
</script>

<style>
    .login-box {
        display: flex;
        flex-direction: column;
        width: 30vw;
        height: auto;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding: 50px;
        border-radius: 20px;
    }

    .login-box h1 {
        float: left;
        font-size: 40px;
        border-bottom: 6px solid #fcaf50;
        margin-bottom: 50px;
        padding: 13px 0;
    }

    .textbox {
        width: 100%;
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid #fcaf50;
    }

    .textbox i {
        width: 26px;
        float: left;
        text-align: center;
    }

    .textbox input {
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }

    .btn {
        width: 100%;
        background-color: transparent;
        border: 2px solid #fcaf50;
        color: #fff;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        margin: 12px 0;
    }

    .btn:hover {
        background-color: #fcaf50;
        color: #000;
        transition: .5s;
    }

    .btn:active {
        background-color: #000;
        color: #fcaf50;
    }
</style>