<template>
  <div id="reports">
    <h1>Report</h1>
    <table class="table table-striped table-hover table-dark w-100"
      v-if="reports && $parent.userType.data.description == 'Teacher'">
      <thead>
        <tr>
          <th scope="col"><input class="w-100 bg-dark text-light" placeholder="Numero" type="number"></th>
          <th scope="col"><input class="w-100 bg-dark text-light" placeholder="text" type="number"></th>
        </tr>
        <tr>
          <th scope="col">State</th>
          <th scope="col">Description</th>
          <th scope="col">User</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="report in reports.data" :key="report.key">
          <td>{{report.stateId}}</td>
          <td>{{report.comment}}</td>
          <td>{{report.userId}}</td>
          <td>{{report.date}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped table-hover table-dark w-100"
      v-if="reports && states && $parent.userType.data.description == 'Student'">
      <thead>
        <tr>
          <th scope="col">State</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="report in reports.data">
          <tr :key="report.key" v-if="$parent.session.data == report.userId">
            <td>
              <select class="custom-select bg-dark text-light" name="states" v-model="report.stateId">
                <template v-for="state in states.data">
                  <option :key="state.key" :value="state.id">{{state.description}}</option>
                </template>
              </select>
            </td>
            <td><input class="form-control w-100 bg-dark text-light" type="text" placeholder="Description" :value="report.comment"></td>
          </tr>
                      <button :key="report.id" v-on:click="$parent.save(report.userId, report.activityId, report.stateId, report.comment)">Save Report</button>
        </template>
      </tbody>

    </table>

  </div>

</template>

<script>
  export default {
    name: "reports",
    components: {},
    data() {
      return {
        reports: null,
        states: null,
      }
    },
    methods: {
    },
    async mounted() {
      this.reports = await this.$amAPI.getAll('report/activity/' + this.$route.params.activitie)
      this.states = await this.$amAPI.getAll('state')
    },
    watch: {}
  };
</script>

<style>
  #reports {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3vw;
  }
</style>