<template>
  <div id="app" class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <router-link class="navbar-brand" to="/">Disconnect</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <router-link class="nav-link" to="/exercises">Exercise</router-link>
          </li>
        </ul>
      </div>
    </nav>
    <div id="app-core">
      <router-view />
    </div>
  </div>
</template>

<script>
    export default {
        name: "app",
        components: {},
        data() {
            return {
                username: null,
                password: null,
                session: null,
                userType: null
            }
        },
        methods: {
            async login() {
                const login = await this.$amAPI.getLogin(this.username, this.password)
                if(login.data != 0) {
                  this.session = login
                }
                this.userType = await this.$amAPI.getOne('UserType', this.session.data)
                this.$router.push({ name: 'Exercises' })

            },
            async save(idUser, idActivity, idState, comment) {
                const report = await this.$amAPI.saveReport(idUser, idActivity, idState, comment)
                return report
            }
        },
        mounted() {
          if(!this.session) 
                this.$router.push({ name: 'Login' })
        },
        watch: {
          session() {
            if(!this.session) 
                this.$router.push({ name: 'Login' })
          }
        }
    };
</script>

<style>
  html,
  body,
  #app {
    display: flex;
    flex-direction: column;
    color: #FAFAFA !important;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    user-select: none;
  }

  #app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  #app-core {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .navbar.navbar-expand-lg.navbar-dark.bg-dark li a.router-link-exact-active {
    color: #42b983;
  }

  .navbar.navbar-expand-lg.navbar-dark.bg-dark li {
    cursor: pointer;
  }

  table input {
    border: none;
    text-align: center;
  }

  table th,
  table td {
    text-align: center;
  }
</style>